.xmledit .CodeMirror {
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -30px;
    line-height: 1;
}

.xmledit.xmledit-saving .CodeMirror {
    border-color: #49afcd;
    background-color: #ccc;
}

.xmledit.xmledit-save-failed .CodeMirror {
    background: #ffe6e6;
}

.xmledit-saving-modal .modal-body p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.xmledit-saving-modal .modal-body img {
    display: block;
    margin: 0 auto 20px;
}

.cm-matchhighlight {
    background-color: #00ffff;
}

body .big-modal {
    width: 80%;
    margin-left: -40%;
}

.ui-effects-transfer {
    border: 2px solid #000;
}

.xmledit-splashscreen {
    font-size: 18px;
    font-weight: bold;
    padding-top: 100px;
}

#toast-container {
    margin-bottom: 50px;
}

.framework ul {
    margin: 0;
}

/* Codemirror Find Dialog Overrides */
.CodeMirror-dialog {
  background: #ffeb7d;
  color: #000;
  font-family: helvetica, arial, sans-serif;
  padding: .01em .8em;
  margin-left: 2.1em;
}

.CodeMirror-dialog-top {
    border-bottom: 1px solid #746619;
}

.CodeMirror-dialog-bottom {
    border-top: 1px solid #746619;
}

.CodeMirror-dialog input {
    background: #fff;
    border: 1px solid #746619;
    margin-top: 10px;
    box-shadow: none;
}

.CodeMirror-search-field {
  margin-bottom: 10px;
}

/* Bootstrap Overrides */
.row-fluid { width: auto; }
.container-fluid { padding: 0; }
.btn-toolbar { margin: 0; }

.dux-control-bar-bottom {
    width: 100%;
}

.xmledit-test-survey {
    margin-right: 10px;
}

/* VIEW mode */

.editingViewWarning {
    background-color: #fed731;
    font-style: italic;
    margin-left: 20px;
}

.xmledit .CodeMirror .survey-error {
    background: #ead06a;
    color: #9e0b0f;
    font-size: small;
    padding: 3px;
}

#xmledit .t_ContentContainer {
    padding: 10px 14px;
    width: auto;
    height: auto;
    max-width: 360px;
    background-color: #3e5467;
    color: #e4e8eb;
    font-size: .75rem;
    font-family: "Roboto",-apple-system, BlinkMacSystemFont,"Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
    border-radius: .25rem;
    box-shadow: 0 4px 12px 0 rgba(#16263b, 0.28);
}

.alert.alert-info {
    width: auto;
    margin-bottom: 10px;
}
.alert-content {
    display: flex;
    align-items: center;
}

.alert-icon {
    text-align: center;
    flex: 1;
}
.alert-text {
    flex: 14;
    margin: 0;
}
